ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #d3d7d9;
}
.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  padding-top: 1.5em;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  background-color: #d3d7d9;
  border-radius: 7px;
  color: black;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-item {
  padding: 20px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
}
.about-me {
  padding-top: 90px;
}
img {
  border-radius: 50%;
  display: flex;
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
