ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #d3d7d9;
}
.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  padding-top: 1.5em;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  background-color: #d3d7d9;
  border-radius: 7px;
  color: black;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
}
.about-me {
  padding-top: 40px;
}
