body {
  color: #414141;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #d3d7d9;
}
.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  background-color: black;
}
.navbar ul {
  display: flex;
  padding-top: 1.5em;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  background-color: #d3d7d9;
  border-radius: 7px;
  color: black;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 50px 10px;
}
.flex-item {
  padding: 20px;
  justify-content: center;
  width: 40%;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
}
.about-me {
  padding-top: 90px;
}
.project {
  text-align: center;
  padding: 10px 10px 50px 10px;
}
.project h3 {
  padding-bottom: 20px;
}
img {
  border-radius: 50%;
  display: flex;
  width: 65%;
  height: auto;
}
.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 30px;
  padding-bottom: 20px;
}
.grid-item-title {
  text-align: center;
  border-radius: 3px;
  background: #414141;
  height: auto;
  width: 35%;
  padding: 3px 3px 3px 3px;
  color: aliceblue;
}
.project i {
  font-size: 35px;
  color: #777;
}

button {
  background-color: #474747;
  margin-top: 7px;
  margin-bottom: 10px;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  border: none;
  color: #777;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}
.contact {
  text-align: center;
}
.contact-icon {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contact-icon a {
  margin-bottom: 10px;
  color: #414141;
}
.contact-icon i {
  font-size: 25px;
}
.grid-item-details {
  width: 35%;
}
@media (max-width: 800px) {
  .flex-container,
  .flex-container-project {
    flex-direction: column;
  }
}
